<% provide(:title, 'About Us') %> <!DOCTYPE html>

<h1 class = "large-12 columns">
	ABOUT US
	<hr>
	<p>DESIGN IS OUR PASSION. WITH YOU AS OUR CLIENT, WE WILL AIM FOR ONLY EXCELLENT RESULTS. AN END PRODUCT WORTHY OF YOUR NAME.
</p>
</h1>

<div class = "rows">

	<div class = "large-6 columns">
		<p>Atmospheric events, founded in 2002 by Mary Leye, is a dash dash dash that produces dash dash dash for their clients. Atmospheric events stands for dash and dash.
Many dashand dash events are in the Atmospheric Events portfolio.
Together with you, our partner, we look forward to forging a unique event.</p>
	</div>
	
	<div class = "large-6 columns">
		<button>REQUEST A FREE QOUTE</button>
	</div>

</div>


<div class = "rows">
	<p>Thanks for Stopping by</p>
</div>
