<% provide(:title, 'About Us') %> <!DOCTYPE html>

<div class = "moduler">

	<div class="moduler-image about-home-image">
	</div>

	<div class = "moduler-head">
		<div class = "row">
			<h1 class = "large-12 columns">
				ABOUT US
				<hr>
				<p>
				DESIGN IS OUR PASSION. WITH YOU AS OUR CLIENT, WE WILL AIM FOR ONLY EXCELLENT RESULTS. AN END PRODUCT WORTHY OF YOUR NAME.
				</p>
			</h1>
		</div>

	</div>

</div>


<div class = "row about-content">

	<div class = "large-6 columns">
		<p>
		Atmospheric events, founded in 2002 by Mary Leye, is a dash dash dash that produces dash dash dash for their clients. Atmospheric events stands for dash and dash.

		<br/>
		<br/>

		Many dashand dash events are in the Atmospheric Events portfolio.

		<br/>
		<br/>

		Together with you, our partner, we look forward to forging a unique event.
		</p>
	</div>
	
	<div class = "about-qoute">
		<div class = "large-6 small-12 columns">
			<button>REQUEST A FREE QOUTE</button>
		</div>
	</div>

</div>



	<div class = "large-12 columns about-thanks">
		<p>Thanks<br/>for Stopping<br/>by</p>
	</div>

