<% provide(:title, 'About Us') %> <!DOCTYPE html>

<div class = "moduler">

	<div class="moduler-image about-home-image">
	</div>

	<div class = "moduler-head">
		<div class = "row">
			<h1 class = "large-12 columns">
				ABOUT US
				<hr>
				<p>
				DESIGN IS OUR PASSION. WITH YOU AS OUR CLIENT, WE WILL AIM FOR ONLY EXCELLENT RESULTS. AN END PRODUCT WORTHY OF YOUR NAME.
				</p>
			</h1>
		</div>

	</div>

</div>


<div class = "row about-content">

	<div class = "large-6 columns">
		<p>
		Atmospheric events, is an dynamic event decorator and planner that produces stunning works for its clients.

		<br/>
		<br/>

		Many dashand dash events are in the Atmospheric Events portfolio.

		<br/>
		<br/>

		Together with you, our partner, we look forward to forging a unique event.
		</p>
	</div>
	

	<%= link_to "<button>REQUEST A FREE QOUTE</button>".html_safe, new_quote_path, :class => "large-6 columns" %>

</div>



	<div class = "large-12 columns about-thanks">
		<p>Thanks<br/>for Stopping<br/>by</p>
	</div>

