<% provide(:title, 'Contact') %> <!DOCTYPE html>


<div class = "moduler">

	<div class="moduler-image contact-home-image">
	</div>

	<div class = "moduler-head">
		<div class = "row">
			<h1 class = "large-12 columns">
				CONTACT
				<hr>
				<p>
				DESIGN IS OUR PASSION. WITH YOU AS OUR CLIENT, WE WILL AIM FOR ONLY EXCELLENT RESULTS. AN END PRODUCT WORTHY OF YOUR NAME.
				</p>
			</h1>
		</div>

			
		<div class = "row">
			<div class = "large-4 columns address-wrapper">
				<p>Atmospheric Events</p>
				<p>Yaba, Lagos, Nigeria</p>
				<p>+234 80634 72855</p>
				<p>hello@atmospheric.ng</p>
				<a href="https://web.facebook.com/atmosphericevents.com.ng/"><i class = 'fa fa-facebook'></i></a>
				<a href="https://www.instagram.com/atmosphericevents/"><i class = 'fa fa-instagram'></i></a>
			</div>

			<%= link_to "<button>REQUEST A FREE QUOTE</button>".html_safe, new_quote_path, :class => "large-4 columns" %>

		</div>


<!-- <div class = "row">

	<div class = "large-4 columns">
		<img src="">
		<h1></h1>
		<p></p>
		<button></button>
	</div>
	
	<div class = "large-4 columns">
		<img src="">
		<h1></h1>
		<p></p>
		<button></button>
	</div>

	<div class = "large-4 columns">
		<img src="">
		<h1></h1>
		<p></p>
		<button></button>
	</div>

</div> -->


	</div>
</div>
