<% provide(:title, 'Gallery') %> <!DOCTYPE html>

<div class = "a-gallery-wrapper">

	<div class="a-gallery-image-wrapper">
	</div>

	<div class = "a-gallery-head-section">
		<div class = "row">
			<h1 class = "large-12 columns">
				OUR GALLERY
				<hr>
				<p>Here you can see a sample of projects we have worked on our years of experience to clients around the globe.</p>
			</h1>
		</div>

		<div class = "row">
			<div class = "a-gallary-sub-head-section">

				<div class = "large-8 columns">
					<a class = "a-gallery-nav">ALL WORK <span>|</span> WEDDING EVENTS <span>|</span> CORPORATE EVENTS <span>|</span> SOCIAL EVENTS</a>
				</div>

				<div class = "large-4 columns">
					<button>REQUEST A FREE QOUTE </button>
				</div>

			</div>
		</div>
	</div>

	<div class = "gallery-image-canvas">
		
	</div>

	<div class = "row">
		<div class = "large-6 columns">
		<p>NEW EVENT</p>
		<hr>
		<p>Have an event you ́re interested in discussing with us? Drop us a line below, we ́d love to talk.</p>
			<div class = "large-6 columns">
				<!-- formfills -->
				<div>NAME</div>
				<div>PHONE NUMBER</div>
				<div>EMAIL</div>
				<div>EVENT DETAILS</div>
				<button>SEND MESSAGE</button>
			</div>
			<div class = "large-6 columns">
				<!-- location image -->
				<img src="">
				<div>
					<p>WHERE WE ARE</p>
					<hr>
					<p>LAGOS</p>
					<p>Montgomery Road</p>
					<p>Yaba, Lagos, Nigeria</p>
					<p>+234 80634 72855</p>
					<p>hello@atmosphericevents.com</p>
				</div>

			</div>
		</div>
	</div>
</div>