<% provide(:title, 'Gallery') %> <!DOCTYPE html>


 <!--  <div class="gallery-image-wrapper">
    <div class = 'image-slider'>
	    <div class = 'image-slider'>
		    <p class = "large-12 columns">
		   		<i class = "vertical-lineUp"></i>
		   		We are event decorators and planners<span>DELIGHTFUL</span>
		   		<i class = "vertical-lineDown"></i>
		    </p>
	    </div>
    </div>
  </div> -->
  

<h1 class = "large-12 columns">
	OUR GALLERY
	<hr>
	<p>Here you can see a sample of projects we have worked on our years of experience to clients around the globe.</p>
</h1>

<div class = "rows">

	<div class = "large-6 columns">
	<div>ALL WORK | WEDDING EVENTS | CORPORATE EVENTS | SOCIAL EVENTS</div>
	</div>

	<div class = "large-6 columns">
	<button>REQUEST A FREE QOUTE </button>
	</div>

</div>

<div class = "gallery-img">
	
</div>

<p>NEW EVENT</p>
<hr>
<p>Have an event you ́re interested in discussing with us? Drop us a line below, we ́d love to talk.</p>
<div class = "rows">
	<div class = "large-6 columns">
		<!-- formfills -->
		<div>NAME</div>
		<div>PHONE NUMBER</div>
		<div>EMAIL</div>
		<div>EVENT DETAILS</div>
		<button>SEND MESSAGE</button>
	</div>
	<div class = "large-6 columns">
		<!-- location image -->
		<img src="">
		<div>
			<p>WHERE WE ARE</p>
			<hr>
			<p>LAGOS</p>
			<p>Montgomery Road</p>
			<p>Yaba, Lagos, Nigeria</p>
			<p>+234 80634 72855</p>
			<p>hello@atmosphericevents.com</p>
		</div>

	</div>
</div>
