<% provide(:title, 'Gallery') %> <!DOCTYPE html>


  <div class="gallery-image-wrapper">
    <div class = 'image-slider'>
	    <div class = 'image-slider'>
		    <p class = "large-12 columns">
		   		<i class = "vertical-lineUp"></i>
		   		We are event decorators and planners<span>DELIGHTFUL</span>
		   		<i class = "vertical-lineDown"></i>
		    </p>
	    </div>
    </div>
  </div>
  