<% provide(:title, 'Home') %> <!DOCTYPE html>

<div class="row">
         
  <div class="home-images fade">
    <img src="https://unsplash.com/photos/bviex5lwf3s/download" alt="slide image">
    <img src="https://unsplash.com/photos/bviex5lwf3s/download" alt="slide image">
    <img src="https://unsplash.com/photos/bviex5lwf3s/download" alt="slide image">
    <img src="https://unsplash.com/photos/bviex5lwf3s/download" alt="slide image">
  </div>

</div>
           
       
       
           
       
       
           