<% provide(:title, 'Home') %> <!DOCTYPE html>

  <div class="home-images fade">
    <div class = 'image-slider'>
	    <div class = 'image-slider'>
		    <img src="https://unsplash.com/photos/bviex5lwf3s/download" alt="slide image">
		    <p class = "large-12 columns">
		   		<i class = "vertical-lineUp"></i>
		   		We are event decorators and planners<span>DELIGHTFUL</span>
		   		<i class = "vertical-lineDown"></i>
		    </p>
	    </div>
    </div>

     <div class = 'image-slider'>
	    <div class = 'image-slider'>
		    <img src="https://unsplash.com/photos/UdvXJ95Yqt8/download" alt="slide image">
		    <p class = "large-12 columns">
		   		<i class = "vertical-lineUp"></i>
		   		We are event decorators and planners<span>BEAUTFIFUL</span>
		   		<i class = "vertical-lineDown"></i>
		    </p>
	    </div>
    </div>

     <div class = 'image-slider'>
	    <div class = 'image-slider'>
		    <img src="https://unsplash.com/photos/7gZEY7tY9C4/download" alt="slide image">
		    <p class = "large-12 columns">
		   		<i class = "vertical-lineUp"></i>
		   		We are event decorators and planners<span>FASCINATING</span>
		   		<i class = "vertical-lineDown"></i>
		    </p>
	    </div>
    </div>

     <div class = 'image-slider'>
	    <div class = 'image-slider'>
		    <img src="https://unsplash.com/photos/bLppF5sbXPo/download" alt="slide image">
		    <p class = "large-12 columns">
		   		<i class = "vertical-lineUp"></i>
		   		We are event decorators and planners<span>SATISFYING</span>
		   		<i class = "vertical-lineDown"></i>
		    </p>
	    </div>
    </div>

	<button>Tell Us About it</button>

  </div>