<% provide(:title, 'Home') %> <!DOCTYPE html>
<!-- js gradient -->
<div id = "coloroverlay">
</div>
<!-- css gradient -->
<!-- <div class = "hue">	
</div> -->

<div class = "home-wrapper">


	<div class="fade">
			
			<div class="homeImg1">
				<p class = "large-12 columns">
					<i class = "vertical-lineUp"></i>
						We are event decorators and planners<span>DELIGHTFUL</span>
					<i class = "vertical-lineDown"></i>
					<!-- <button class = 'qouteButton'>Tell Us About it</button> -->
				<!-- </p> -->
			</div>

			<div class="homeImg2">
				<p class = "large-12 columns">
					<i class = "vertical-lineUp"></i>
						<span class = "homeinnerContentTop">We are event decorators and planners</span>
						<span class = "homeinnerContentBottom">EVENTFUL</span>
					<i class = "vertical-lineDown"></i>
				</p>
			</div>

			<div class="homeImg3">
				<p class = "large-12 columns">
					<i class = "vertical-lineUp"></i>
						<span class = "homeinnerContentTop">We are event decorators and planners</span>
						<span class = "homeinnerContentBottom">BEAUTIFUL</span>
					<i class = "vertical-lineDown"></i>
				</p>
			</div>

			<div class="homeImg4">
				<p class = "large-12 columns">
					<i class = "vertical-lineUp"></i>
						<span class = "homeinnerContentTop">We are event decorators and planners</span>
						<span class = "homeinnerContentBottom">COLOURFUL</span>
					<i class = "vertical-lineDown"></i>
				</p>
			</div>
		
	</div>

</div>