<% provide(:title, 'Qoute') %> <!DOCTYPE html>

<div class = "qouteWrapper">
	<h1 class = "large-12 columns qoute-title">
		Request a free qoute
	</h1>
	
	<p class = "qoute-title-content">
		Tell us in the following three steps what you're looking for or send an e-mail to <span>info@atmosphericevents.com.</span>
	</p>

	<div class = "qouteWrapper-page-one">
		
		<section class = "qoute-form-wrapper">
			<div class = "row">

			<div class = "qoute-form-title">
			<i class="fa fa-user"></i>
			<p>Step 1. Who are you?</p>
			</div>
					

				<div class="row">

				    <div class="large-6 columns">
				        <input type="text" placeholder="Firstname*" />
				    </div>

				    <div class="large-6 columns">
				        <input type="text" placeholder="Surname*" />
				    </div>

				</div>

				<div class="row">

				    <div class="large-6 columns">
				        <input type="text" placeholder="Email" />
				    </div>

				    <div class="large-6 columns">
				        <input type="text" placeholder="Phone*" />
				    </div>

				</div>

				<div class="row">

				    <div class="large-6 columns">
				        <input type="text" placeholder="Company" />
				    </div>

				    <div class="large-6 columns">
				        <input type="text" placeholder="Location" />
				    </div>

				</div>

				
				<button >NEXT</button>

			</div>
		</section>
	</div>
	
	<div class = "qouteWrapper-page-two">
		
		<section class = "qoute-form-wrapper">
			<div class = "row">

			<div class = "qoute-form-title">
			<i class="fa fa-search"></i>
			<p>Step 2. What are you looking for?</p>
			</div>
					

				<div class="row">

				    <div class="large-6 columns">
					    <div class="large-12 columns">
					        <input type="text" placeholder="What are you interested in?" />
					    </div>
					    <div class="large-12 columns">
					        <input type="text" placeholder="Do you need additional services?" />
					    </div>
					    <div class="large-12 columns">
					        <input type="text" placeholder="What is your deadline?" />
					    </div>
					    <div class="large-12 columns">
					        <input type="text" placeholder="What is your budget?" />
					    </div>
					    <button>BACK</button>
				    </div>

				    <div class="large-6 columns">
					    <div class="large-12 columns">
					      <label>Additional information (Brief description of your event)
					        <textarea></textarea>
					      </label>
					    </div>
					    <button>SEND</button>
				    </div>

				</div>

				
				

			</div>
		</section>
	</div>

</div>