<% provide(:title, 'Qoute') %> <!DOCTYPE html>

<div class = "qouteWrapper">

<h1 class = "large-12 columns qoute-title">
	Request a <span>free</span> qoute
</h1>

<p class = "qoute-title-content">
	Tell us in the following two steps what you're looking for or send an e-mail to <span>info@atmosphericevents.com</span>
</p>

<div class="row">
<div class="large-12 columns">
	<section class='current slide qoute-form-wrapper' id='slide1'>	
		<div class = "qoute-form-title">
			<i class="fa fa-user"></i>
			<p>Step 1. Who are you?</p>	
		</div>
				
		<div class="row add-padding">
		    <div class="large-6 columns">
		        <input type="text" placeholder="Firstname*" />
		    </div>

		    <div class="large-6 columns">
		        <input type="text" placeholder="Surname*" />
		    </div>
		</div>

		<div class="row add-padding">

		    <div class="large-6 columns">
		        <input type="text" placeholder="Email" />
		    </div>

		    <div class="large-6 columns">
		        <input type="text" placeholder="Phone*" />
		    </div>

		</div>

		<div class="row add-padding">

		    <div class="large-6 columns">
		        <input type="text" placeholder="Company" />
		    </div>

		    <div class="large-6 columns">
		        <input type="text" placeholder="Location" />
		    </div>

		</div>
		
		<button class='next-button'>NEXT</button>
	</section>
</div>
</div>


<div class="row">
<div class="large-12 columns">
	<section class= "hidden slide qoute-form-wrapper" id='slide2'>
	
		<div class = "qoute-form-title">
			<i class="fa fa-search"></i>
			<p>Step 2. What are you looking for?</p>
		</div>
						

		<div class="row add-padding">

		    <div class="large-6 columns">
			    <div class="large-12 columns">
			        <input type="text" placeholder="What are you interested in?" />
			    </div>
			    <div class="large-12 columns">
			        <input type="text" placeholder="Do you need additional services?" />
			    </div>
			    <div class="large-12 columns">
			        <input type="text" placeholder="What is your deadline?" />
			    </div>
			    <div class="large-12 columns">
			        <input type="text" placeholder="What is your budget?" />
			    </div>
			    <button class='prev-button'>BACK</button>
		    </div>

		    <div class="large-6 columns">
			    <div class="large-12 columns">
			      <label>Additional information (Brief description of your event)
			        <textarea></textarea>
			      </label>
			    </div>
			    <button>SEND</button>
		    </div>

		</div>
	</section>
</div>
</div>

<!-- <div class='hidden slide' id='slide3'>
  <div class='prev-button'>
    <p>&#60;</p>
  </div>
  <h1>A pen by Jason Fisher</h1>
</div> -->

</div>