<% provide(:title, 'Qoute') %> <!DOCTYPE html>

<div class = "qouteWrapper">
	<h1 class = "large-12 columns qoute-title">
		Request a free qoute
	</h1>

	<p class = "qoute-title-content">
	Tell us in the following three steps what you're looking for or send an e-mail to <span>info@atmosphericevents.com.</span>
	</p>

	<div class = "rows">

		<i class = "contact"></i><div>Step 1. Who are you?</div>


		
		<div class = "rows">
			<div class = 'large-6 columns'>Firstname</div>
			<div class = 'large-6 columns'>Surname</div>
		</div>

		<div class = "rows">
			<div class = 'large-6 columns'>Email</div>
			<div class = 'large-6 columns'>Phone</div>
		</div>

		<div class = "rows">
			<div class = 'large-6 columns'>Company</div>
			<div class = 'large-6 columns'>Location</div>
		</div>
		
		<button>NEXT</button>

	</div>
</div>

<!-- <div class = "rows">

	<i class = "contact"></i><div>Step 2. What are you looking for?</div>
	
	<div class = 'rows'>

		<div class = 'large-6 columns'>
			<div class = 'large-12 columns'>
				What are you interested in?
			</div>

			<div class = 'large-12 columns'>
				Do you need additional services?
			</div>

			<div class = 'large-12 columns'>
				What is your deadline?
			</div>

			<div class = 'large-12 columns'>
				What is your budget?
			</div>
		</div>

		<div class = 'large-6 columns'>
			<p>Additional information (Brief description of your event)</p>
			<button>BACK</button>
			<button>SEND</button>

		</div>

	</div>
	
	

</div>
 -->