<% provide(:title, 'Service') %> <!DOCTYPE html>


<h1 class = "large-12 columns">
	OUR SERVICES
	<hr>
	<p>Here you can see a sample of projects we have worked on our years of experience to clients around the globe.</p>
</h1>

<div class = "rows">

	<div class = "large-4 columns">
		<img src="">
		<h1></h1>
		<p></p>
		<button></button>
	</div>
	
	<div class = "large-4 columns">
		<img src="">
		<h1></h1>
		<p></p>
		<button></button>
	</div>

	<div class = "large-4 columns">
		<img src="">
		<h1></h1>
		<p></p>
		<button></button>
	</div>

</div>
