<% provide(:title, 'Service') %> <!DOCTYPE html>

<div class="homeImg1">
  <div class="row">

    <div class="medium-3 columns sidebar">
      <img src="http://placehold.it/350x150&text=LOGO">
      <h2>Other text and stuff</h2>
      <h3>Look at me</h3>
    </div>

    <div class="medium-4 columns intro">
      <h1>I am a website</h1>
      <h2>Buy my crap</h2>
    </div>

  </div>




<div class = "home-wrapper">

	<div class="fade">

		<div class = 'color-overlay'>
			
			<div class="homeImg1">
				<p class = "large-12 columns">
					<i class = "vertical-lineUp"></i>
						We are event decorators and planners<span>DELIGHTFUL</span>
					<i class = "vertical-lineDown"></i>
				</p>
			</div>

			<div class="homeImg2">
				<p class = "large-12 columns">
					<i class = "vertical-lineUp"></i>
						We are event decorators and planners<span>DELIGHTFUL</span>
					<i class = "vertical-lineDown"></i>
				</p>
			</div>

			<div class="homeImg3">
				<p class = "large-12 columns">
					<i class = "vertical-lineUp"></i>
						We are event decorators and planners<span>DELIGHTFUL</span>
					<i class = "vertical-lineDown"></i>
				</p>
			</div>

			<div class="homeImg4">
				<p class = "large-12 columns">
					<i class = "vertical-lineUp"></i>
						We are event decorators and planners<span>DELIGHTFUL</span>
					<i class = "vertical-lineDown"></i>
				</p>
			</div>

		</div>
		
	</div>
	  		
	<button class = 'qouteButton'>Tell Us About it</button>	
</div>
  
