<% provide(:title, 'Service') %> <!DOCTYPE html>

<div class = "moduler">
	<div class="moduler-image service-home-image">
	</div>
	<div class = "moduler-head">
		<div class = "row">
			<h1 class = "large-12 columns">
				SERVICE
			</h1>
		</div>
	</div>
</div>

<div class = "row service-content">
	<div class = "large-4 columns">
		<div class = "service-image service-img-one"></div>
		<h3>EVENT PLANNING</h3>
		<hr>
		<p>
			Are you looking for an event planner for your next event or wedding? We stay with your all through your event life cycle and we take the headache of the whole celebration away from you.
		</p>
	</div>
	<div class = "large-4 columns">
		<div class = "service-image service-img-two"></div>
		<h3>EVENT COORDINATION </h3>
		<hr>
		<p>
			We take our design seriously, originality, detail symmetry and balancing is what we do. Our Gallery says it all.
		</p>
	</div>
	<div class = "large-4 columns">
		<div class = "service-image service-img-three"></div>
		<h3>EVENT DESIGN</h3>
		<hr>
		<p>
			We have a team of event decorators and designers. Our work stand out and we excceed all our client's expectation.
		</p>
	</div>
	<div class = "service-qoute-small-wrapper">
		<div class = "large-12 columns">
			<div class = "large-4 columns">
				<%= link_to "<button>VIEW OUR PORTFOLIO</button>".html_safe, photos_path, :class => "service-qoute-small" %>
			</div>
			<div class = "large-4 columns">
				<%= link_to "<button>VIEW OUR PORTFOLIO</button>".html_safe, photos_path, :class => "service-qoute-small" %>
			</div>
			<div class = "large-4 columns">
				<%= link_to "<button>VIEW OUR PORTFOLIO</button>".html_safe, photos_path, :class => "service-qoute-small" %>
			</div>
		</div>
	</div>
</div>