.moduler{
	.moduler-image{
		width: 100%;
		min-height: 400px;
		max-height: 400px;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.gallery-home-image{
		background-image: url("https://dl.dropboxusercontent.com/s/k2jut1a6szlq3pm/DSC_0591-min.jpg?dl=0");
	}

	.service-home-image{
		background-image: url("https://dl.dropboxusercontent.com/s/gd2eig8zq40qy3j/DSC_0689-min.jpg?dl=0");
	}

	.about-home-image{
		background-image: url("https://dl.dropboxusercontent.com/s/ml61byuh91uuxup/DSC_0750-min.jpg?dl=0");
	}

	.contact-home-image{
		background-image: url("https://dl.dropboxusercontent.com/s/augv1trkfqf44m5/ae_img_five-min.png?dl=0");
	}

	.moduler-head{
		margin: rem-calc(25px 0);
		h1{
			font-weight: bold;
			font-size: 90px;
			min-width: 66%;
			max-width: 68%;
			@media#{$small-only}{
				font-size: 30px;

			}

			hr{
				border: solid $atmosphericPink;
				border-top-color: rgb(255, 9, 66);
				border-top-style: solid;
				border-top-width: 1px;
				border-right-color: rgb(255, 9, 66);
				border-right-style: solid;
				border-right-width: 0px;
				border-bottom-color: rgb(255, 9, 66);
				border-bottom-style: solid;
				border-bottom-width: 0px;
				border-left-color: rgb(255, 9, 66);
				border-left-style: solid;
				border-left-width: 0px;
				margin-top: 0;
			}
			p{
				font-size: rem-calc(13px);
			}
		}

		button{
			float: right;
			background-color: $atmosphericPink;
			font-weight: bold;
			padding: rem-calc(20px 44px);
			width: 100%;
			font-size: 14px;

		}
		.moduler-sub-head{
			letter-spacing: 0.5px;
			line-height: 300%;
			font-size: 12px;
			.moduler-nav{
				vertical-align: text-top;
				span{
					margin: rem-calc(0 10px);
					pointer-events: none;
					color: $atmosphericDark;
				}
			}
		}
	}
}