.about-content{
	button{
		float: right;
		background-color: $atmosphericPink;

		@media#{$small-only}{
			float: none;
		}
	}
}

.about-thanks{
	background-color:  $atmosphericYellow;
	margin: 50px 0 0 0;

	p{
		text-align: center;
		color: white;
		font-family: 'Pacifico', cursive;
		padding: 40px 0;
		font-size: 25px;
		transform: rotate(-15deg);
	}
}

.about-qoute{
	text-align:center;
}