.main-footer{
	// background-color: $atmosphericDark;
	width: 100%;
	padding: rem-calc(50px 0);
	position: fixed;
	z-index: 10;
	
	.footer-center{
		text-align: center;
	}
	
	.footer-right{
		float: right; padding: rem-calc(10px);
	}

	.footer-inline{
		margin: 0;
		font-size: 12px;
		font-weight: bold;
		a{
			color: $charcoal;
			letter-spacing: 1px;
			margin: 5px;
			vertical-align: text-top;	
		}
	} 
	
	.fa{
		color: rgba(255,255,255,0.7);
		font-size: 14.5px;
	}
	
	p{
		display: inline;
		font-weight: bold;
		letter-spacing: rem-calc(0.5px);
		color: rgba(255,255,255,0.7);
		font-size: rem-calc(7.5px);
		margin: 0 0 0 5px;
	}
	
	img{
		width:30px;
	}
}