.gallery-wrapper{
	.gallery-image-wrapper{
	background-image: url("https://images.unsplash.com/photo-1442188950719-e8a67aea613a?q=80&fm=jpg&s=b91323d5c3f24a32a15a05ce7b122631");
	width: 100%;
	min-height: 400px;
	max-height: 400px;
	background-size: cover;
	background-repeat: no-repeat;
	}
	.gallery-head-section{
		margin: rem-calc(25px 0);
		h1{
			font-weight: bold;
			font-size: 90px;
			min-width: 66%;
			max-width: 68%;
			hr{
			border: solid $atmosphericPink;
			border-top-color: rgb(255, 9, 66);
		    border-top-style: solid;
		    border-top-width: 1px;
		    border-right-color: rgb(255, 9, 66);
		    border-right-style: solid;
		    border-right-width: 0px;
		    border-bottom-color: rgb(255, 9, 66);
		    border-bottom-style: solid;
		    border-bottom-width: 0px;
		    border-left-color: rgb(255, 9, 66);
		    border-left-style: solid;
		    border-left-width: 0px;
			margin-top: 0;
			}
			p{
				font-size: rem-calc(13px);
			}
		}
		
		button{
			float: right;
			background-color: $atmosphericPink;
			font-weight: bold;
			padding: rem-calc(20px 44px);
			width: 95%;
			font-size: 14px;

		}
		.gallary-sub-head-section{
			letter-spacing: 0.5px;
			line-height: 300%;
			font-size: 12px;
			.gallery-nav{
				vertical-align: text-top;
				span{
					margin: rem-calc(0 10px);
					pointer-events: none;
					color: $atmosphericDark;
				}
			}
		}
	}
}