.home-wrapper{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
  // images

  .homeImg1 {
    height: 100vh;
    background:url(https://s3-us-west-2.amazonaws.com/stutern/ae_img_one-min.png) no-repeat center center;
    background-size:cover;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    opacity:.7;
  }

  .homeImg2 {
    height: 100vh;
    background:url(https://s3-us-west-2.amazonaws.com/stutern/ae_img_two-min.png) no-repeat center center;
    background-size:cover;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    opacity:.7;
  }


  .homeImg3 {
    height: 100vh;
    background:url(https://s3-us-west-2.amazonaws.com/stutern/ae_img_three-min.png) no-repeat center center;
    background-size:cover;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    opacity:.7;
  }

  .homeImg4 {
    height: 100vh;
    background:url(https://s3-us-west-2.amazonaws.com/stutern/ae_img_four-min.png) no-repeat center center;
    background-size:cover;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    opacity:.7;
  }


  .fa{position: absolute; bottom: $ab50Per;
    margin-bottom: $abM50Px;
    z-index: 100;
    color: rgba(255,255,255,0.8);
    font-size: 50px;
  }
  .fa-left{
    right:95%;

    @media #{$small-only}{
      right:90%;
      }
  }
  .fa-right{
    left:95%;

    @media #{$small-only}{
      left:90%;
      }
  }
  
  ul{
    display: none !important;
  }



  // verticaLines & p

  .vertical-lineDown{
    @extend .fa;
    bottom: 10%;
    margin-bottom: -100px;
    border-right: 1px solid white;
    height: 50px;
    display: block;
    left: 50%;
  }
  
  .vertical-lineUp{
    @extend .fa;
    bottom: 35%;
    margin-bottom:
    100px; border-right:
    1px solid white;
    height: 50px;
    display: block;
    left: 50%;
  }

  p{
    @extend .fa;
    font-size: 20px;
    text-align:center;
    letter-spacing: 1px;
    color: white;

      @media #{$small-only}{
      font-size: 12px;
      }

      .homeinnerContentTop{
        padding: 0;

        @media #{$small-only}{
        padding: 0 20px;
        }
      }

    .homeinnerContentBottom{
      display: block;
      font-size: 70px;

        @media #{$small-only}{
        font-size: 35px;
        }

    }
  }


  // button
  
  .qouteButton{
    position: absolute;
    bottom: -10%;
    margin: 0;
    left: -75px;
    margin-left: 50%;
    border-radius: 50px;
    background-color: white;
    color: $atmosphericDark;
    font-weight: 500;
  }

}
  #coloroverlay{
      background: rgba(255, 100, 100, 0.8);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      opacity: 0.3  ;
    }

// .hue {
//   background-image: linear-gradient(rgba(20,20,20,0.2),rgba(255,255,255,0.2));
//   animation: hue 10s infinite alternate;
//   width: 100%;
//   height: 100%;
//   position: absolute;
//   top: 0;
//   left: 0;
//   z-index: 10;
//   opacity: 0.3;
// }
// @keyframes hue {
//   20% {background-color: hsl(72, 50%, 50%);}
//   40% {background-color: hsl(144, 50%, 50%);}
//   60% {background-color: hsl(216, 50%, 50%);}
//   80% {background-color: hsl(288, 50%, 50%);}
//   100% {background-color: hsl(360, 50%, 50%);}
// }
