.qouteWrapper{
	background-color: $atmosphericYellow;
	text-align: center;
	height: 100vh;
	padding: rem-calc(25px 0);

	.qoute-title-content{
		padding: rem-calc(0 400px);
		span{font-weight: bold;}
	}

	.qoute-form-wrapper{
		background-color:$atmosphericQouteBlue;
		position:absolute;
		padding: 20px;
		color:white;
		width: 100%;
		height: 100%;

		  .next-button{
		    margin-top: rem-calc(50px);
		  }

		p{margin-bottom: 0;}
		.qoute-form-title{
			color:white;
			margin-bottom: rem-calc(50px);
			i{
				font-size: 35px;
				margin-right: rem-calc(25px);
				color: $atmosphericYellow;
			}
			p{
				font-size: 35px;
				display: inline-block;
			}
		}
		input[type="text"] {
			background-color: $atmosphericQouteBlue;
			border: 0 solid $atmosphericQouteBlue;
			color: $atmosphericYellow;
			font-weight: 400;
			letter-spacing: rem-calc(2px);
			
		}
		textarea{
			@extend input[type="text"];
		}
		button{
			background-color: white;
			color: $atmosphericQouteBlue;
			font-weight: bold;
			letter-spacing: 2px;
			margin-top: rem-calc(50px);

			.next-button, .prev-button {
			  cursor:pointer;
			  background-color: white;
			  color: $atmosphericQouteBlue;
			  font-weight: bold;
			  letter-spacing: 2px;
			}

		}
	}
}



#slide2 {
  position:absolute;
  top:0;
  right:0;
  width:0;
  height:100%;
  color:white;
}


.slide {
  transition:width 1s linear;
}

.current {
  width:100% !important;
}

.hidden {
  overflow:hidden;
}