.service-content{
	text-align: justify;

	.service-image{
	width: 100%;
	min-height: 200px;
	max-height: 200px;
	background-size: cover;
	background-repeat: no-repeat;
	}

	.service-img-one{
	background-image: url("https://s3-us-west-2.amazonaws.com/stutern/atmospheric/DSC_0676-min.jpg");
	}

	.service-img-two{
	background-image: url("https://s3-us-west-2.amazonaws.com/stutern/atmospheric/DSC_0591-min.jpg");
	}

	.service-img-three{
	background-image: url("https://s3-us-west-2.amazonaws.com/stutern/atmospheric/DSC_0093-min.jpg");
	}

	h3{
		font-size: 20px;
		text-align: center;
		margin: 25px 0;
	}

	p{
		margin: 25px 0;
	}

	hr{
		margin:0;
	}
	.service-qoute, .service-qoute-small{
		text-align: center;
		button{

			background-color: $gainsboro;
			color: $steel;
			font-weight: 400;
		}
	}
}

.service-qoute{
	display: none;
	margin: 25px 0 50px 0;
	@media#{$medium-only}{
		display: block;
	}

	@media#{$small-only}{
		display: block;
	}
}

.service-qoute-small-wrapper{
		text-align: center;
	.service-qoute-small{
		display: inline-block;

		@media#{$medium-only}{
			display: none;
		}

		@media#{$small-only}{
			display: none;
		}
	}
}