<div class="main-footer">
  <div class="row">

    <div class="large-6 small-7 columns">
      <%= image_tag("final_logo_circle-min.png", alt: "Atmospheric Events") %>
      <p>2015 ATMOSPHERIC EVENTS</p>
    </div>

<!--     <div class="large-5 small-12 columns footer-inline footer-center">
      <% link_to 'SERVICE', atmospheric_pages_service_path, :wrap_tag => :li %>
      <% link_to 'GALLERY', atmospheric_pages_gallery_path, :wrap_tag => :li %>
      <% link_to 'CONTACT', atmospheric_pages_contact_path, :wrap_tag => :li %>
      <% link_to 'ABOUT', atmospheric_pages_about_path, :wrap_tag => :li %>
    </div> -->

    <div class="large-6 small-5 columns">
      <a href="https://twitter.com/atmosphericevnt" class="fa fa-facebook-square footer-inline social-links footer-right"></a>
      <a href="https://twitter.com/eventbrite" class="fa fa-twitter-square footer-inline social-links footer-right"></a>
      <a href="https://instagram.com/atmosphericevents" class="fa fa-instagram footer-inline social-links footer-right"></a>
    </div>

  </div>
</div>